.svg-button {
  padding: 8px 12px;
  width: fit-content;
  min-width: 40px;
  height: 40px;
  gap: 5px;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.svg-button:hover:not(:disabled) {
  background-color: var(--bg-contrast-color);
  border-color: var(--bg-contrast-color);
}


.svg-button.bg-active,
.svg-button.active,
.svg-button.bg-white {
  background-color: white;
  border-color: white;
}

.svg-button.bg-active svg.set-stroke path,
.svg-button.bg-active svg.set-fill path,
.svg-button.active svg.set-stroke path,
.svg-button.active svg.set-fill path,
.svg-button.bg-white svg.set-stroke path,
.svg-button.bg-white svg.set-fill path {
  stroke: #000000;
  fill: #000000;
}

.svg-button.transparent {
  background-color: transparent;
}

.svg-button svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.svg-button svg.set-stroke path {
  stroke: var(--font-color);
}

.svg-button svg.set-fill path {
  fill: var(--font-color);
}

.svg-button.big {
  width: 100%;
}
