.svg-button {
  padding: 5px;
  width: fit-content;
  height: 40px;
  gap: 5px;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.svg-button.transparent {
  background-color: transparent;
}

.svg-button svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.svg-button svg.set-stroke path {
  stroke: var(--font-color);
}

.svg-button svg.set-fill path {
  fill: var(--font-color);
}

.svg-button.big {
  width: 100%;
}
