.modalBackdrop {
  background-color: rgba(31, 31, 31, 0.649);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.modalComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  margin-block: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow-y: hidden;
}

.modalContent {
  background-color: var(--modal-bg-color);
  border-radius: 8px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.742);
  width: min(98%, 900px);
  padding: 10px;
  z-index: 5;
  position: relative;
  scrollbar-width: thin;
  max-height: 96dvh;
  overflow-y: auto;
  scrollbar-color: var(--bg-contrast-color) var(--modal-bg-color);
}

.header {
  height: fit-content;
}

.content {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-contrast-color) var(--modal-bg-color);
  padding: 10px;
}
