.modalBackdrop {
  background-color: rgba(76, 76, 76, 0.311);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modalComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow-y: auto;
}

.modalContent {
  background-color: var(--modal-bg-color);
  border-radius: 8px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.742);
  width: min(98%, 900px);
  z-index: 3;
  position: relative;
}

.modalContent > div {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-contrast-color) var(--modal-bg-color);
  padding: 20px;
  max-height: var(--modal-max-height);
}
