.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--hovered-color);
  color: var(--font-color);
  font-family: "Nerko One", cursive;
  position: fixed;
  width: 100vw;
  border-radius: var(--standard-radius);
  z-index: 3;
}

.navbar h1 {
  font-size: 1.5rem;
  margin: 0;
}

.navbar section:last-child {
  display: flex;
  gap: 1rem;
}

.navbar span {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.navbar span:hover {
  background-color: #555;
}
