.whatsapp-page {
  height: 100dvh;
}

.whatsapp-header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-contrast-color);
  border-radius: 10px;
  padding: 10px;
}

.whatsapp-messages {
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
}
