.floating-dropdown {
    position: relative;

    > button {
        cursor: pointer;
    }
}

.floating-dropdown .__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: var(--bg-contrast-color);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 2;

}