/* .floating-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.__content {
  position: absolute;
  width: fit-content;
  max-width: 90vw;
  background-color: rgba(255, 255, 255, 0.05);
  /* backdrop-filter: blur(12px); */
  /* -webkit-backdrop-filter: blur(12px); */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* border-radius: 16px; */
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
  /* display: none; */
  /* flex-direction: column; */
  /* z-index: 1000 !important; */
  /* padding: 12px; */
  /* overflow: visible; */
/* } */ 
