.floating-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

 .__content {
  position: absolute;
  width: min(300px, fit-content);
  background-color: var(--bg-contrast-color);
  padding: 10px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 3 !important;
}
/* .floating-dropdown:hover .__content {
  display: flex !important;
} */
