.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.message:hover .message-buttons {
  visibility: visible;
  width: fit-content;
}
.message > .message-text {
  padding: 10px 15px;
  width: fit-content;
  border-radius: 10px;
  color: var(--font-color);
}

.message.user {
  align-items: flex-end;
}
.message.user > .message-text {
  background: var(--user-color);
}

.message img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.message-buttons {
  display: flex;
  visibility: hidden;
  gap: 10px;
  margin-top: 20px;
  transition: all 100ms;
}
.message__attachments {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.message__attachments:empty {
  display: none;
}

.message a {
  color: var(--highlighted-color);
}

.source-component {
  padding: 10px;
  border-radius: var(--standard-radius);
  border: 1px solid transparent;
  background-color: var(--hovered-color);
  position: relative;
  > input {
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
.source-component:has(input:focus),
.source-component:has(input:active) {
  border: 1px solid var(--highlighted-color);
}

.chunk-info textarea {
  width: 100%;
  min-height: 400px;
  resize: vertical;
  scrollbar-width: none;
}
