@keyframes appear-left {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

.sidebar-conversation-item:hover {
  background-color: var(--hovered-color);
}

.qr-display {
  width: fit-content;
  height: fit-content;
  background-color: white;
  z-index: 5;
  margin-inline: auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
