.talkie {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: min(400px, 100%);
  z-index: 2;
  border-radius: 50vh;
}

canvas {
  margin-top: 1rem;
  background-color: #000;
}

#bars-container {
  display: flex;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  justify-content: center;
}

.bar {
  width: 10px;
  height: 1px;
  margin: 0 2px;
  background: linear-gradient(90deg, rgb(105, 83, 201), var(--active-color));
  transition: height 0.1s;
}
