.talkie {
  display: flex;
  align-items: center;
  width: min(400px, 100%);
  max-height: 100%;
}

canvas {
  margin-top: 1rem;
  background-color: #000;
}

#bars-container {
  display: flex;
  align-items: center;
  max-height: 100%;
  background-color: #282826;
  width: fit-content;
  padding: 2px;
  overflow: hidden;
}

.bar {
  width: 3px;
  height: 1px;
  margin: 0 1.5px;
  background: linear-gradient(90deg, rgb(105, 83, 201), var(--active-color));
  transition: height 0.1s;
  overflow: hidden;
  border-radius: 1.5px;
  min-height: 3px;
}
