.simple-form {
  background-color: var(--modal-bg-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: min(500px, 100%);
  border: 2px solid transparent;
  background: radial-gradient(ellipse at center, var(--navy), black);
  color: var(--font-color);
  border: 2px solid rgba(128, 128, 128, 0.294);
}

.simple-form-title {
  margin-bottom: 20px;
  color: var(--font-color);
  text-align: center;
}

.simple-form-group {
  margin-bottom: 15px;
}

.simple-form input:focus,
.simple-form input:active {
  border-color: var(--navy) !important;
}

.simple-form input {
  color: var(--font-color);
  width: 100%;
  padding: 9px;
  background-color: transparent;
  border: 1px solid var(--font-color-secondary);
  border-radius: 4px;
}

.simple-form input::placeholder {
  color: var(--font-color-secondary);
}

.simple-form input:focus::placeholder {
  color: var(--font-color);
}
