.markdown-renderer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  word-break: break-word;
  max-width: 100%;
}

.markdown-renderer li {
  padding-left: 10px;
  list-style-position: inside;
}
.markdown-renderer li li {
  padding-left: 10px;
}

.markdown-renderer pre {
  position: relative;
  overflow-x: auto;
  background-color: var(--hovered-color);
  border-radius: var(--standard-radius);
  padding: 17px;
}

.markdown-renderer pre:has(.hljs) {
  padding: 0;
}

.markdown-renderer pre code {
  scrollbar-width: thin;
  scrollbar-color: var(--hovered-color) transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.markdown-renderer pre:hover .copy-btn {
  display: flex;
}

.copy-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
