.markdown-renderer {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.markdown-renderer pre {
  position: relative;
}

.markdown-renderer pre:hover .copy-btn {
  display: block;
}

.copy-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #44444472;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #444;
}
