.container {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 12rem;
}

.container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--hovered-color);
}
