/* styles.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--bg-color);
  color: #ffffff;
  padding: 20px;
}

.chat-messages {
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 300px;
  scrollbar-width: none;
}

.chat-header {
  display: flex;
  align-items: center;
}

.chat-header select {
  height: 100%;
  background-color: transparent;
}
.chat-header button {
  padding: 5px;
  background-color: transparent;
  border: 0;
}
.chat-header svg path {
  stroke: var(--font-color);
}

.chat-header select option {
  background-color: rgb(32, 32, 32);
}
