/* styles.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 10px;
  width: min(100%, var(--app-max-width));
  position: relative;
}

.chat-messages {
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 300px;
  scrollbar-width: none;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-secondary-color);
  border-radius: var(--standard-radius);
  width: min(100%, var(--input-max-width));
  margin-inline: auto;
}

.chat-header select {
  height: 100%;
  background-color: transparent;
}
.chat-header button {
  padding: 5px;
  background-color: transparent;
  border: 0;
}
