.audio-tools {
  background-color: transparent;
  padding-top: 100px;
  text-align: center;
}

.cards-container {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: rgb(52, 52, 52);
  padding: 10px;
  border-radius: 10px;
  width: min(300px, 100%);
}
