:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family);
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--bg-color);

  --bg-secondary-color: rgba(190, 190, 190, 0.397);
  --hovered-color: rgba(183, 183, 183, 0.646);

  --standard-radius: 8px;

  --modal-max-height: 99vh;
  --font-color-secondary: rgb(109, 109, 109);
  --root-bg-color: #ffffff;
  --danger-color: #ff3e3e;
  --success-color: #20dd92;
  --success-color-opaque: #20dd91bd;
  --app-max-width: 1400px;
  --input-max-width: 900px;
  --assistant-color: #b7b7b726;
  --min-font-size: 16px;

  --gradient-dark: linear-gradient(
    130deg,
    rgba(34, 16, 100, 1),
    rgba(104, 18, 130, 1),
    rgba(38, 33, 140, 1)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --active-color: rgb(102, 42, 255);
    --highlighted-color: rgba(110, 91, 255, 0.8);

    --secondary-color: #0077ff;
    --font-color: rgb(255, 255, 255);

    --bg-color: rgb(0, 0, 0);
    --bg-secondary-color: rgb(22, 16, 49);
    --hovered-color: rgba(134, 134, 134, 0.248);
    --modal-bg-color: #090116;
    --font-color-secondary: rgb(156, 156, 156);
    --semi-transparent: rgba(23, 23, 23, 0.5);

    --code-bg-color: #1a1b26;
    --root-bg-color: #06181f;

    --user-color: var(--gradient-dark);

    --bg-contrast-color: rgb(35, 33, 39);

    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --bg-color: rgb(255, 255, 255);
    --active-color: rgb(120, 67, 254);
    --highlighted-color: #733af0;
    --highlighted-color-opaque: #743af05b;
    --font-color: #000000;
    background-color: var(--bg-color);
    --bg-secondary-color: rgba(190, 190, 190, 0.397);
    --hovered-color: rgba(183, 183, 183, 0.646);

    --modal-bg-color: #ffffff;
    --bg-contrast-color: #f9f9f9;

    --semi-transparent: rgba(246, 246, 246, 0.5);
    --code-bg-color: #cbcbcb;
    --font-color-secondary: rgb(109, 109, 109);
    --root-bg-color: #ffffff;
  }
}

:root:has(#themer.dark) {
  --active-color: rgb(102, 42, 255);
  --highlighted-color: rgba(110, 91, 255, 0.8);

  --secondary-color: #0077ff;
  --font-color: rgb(255, 255, 255);

  --bg-color: rgb(0, 0, 0);
  --bg-secondary-color: rgb(22, 16, 49);
  --hovered-color: rgba(134, 134, 134, 0.248);
  --modal-bg-color: #090116;
  --font-color-secondary: rgb(156, 156, 156);
  --semi-transparent: rgba(23, 23, 23, 0.5);

  --code-bg-color: #1a1b26;
  --root-bg-color: #06181f;

  --user-color: var(--gradient-dark);

  --bg-contrast-color: rgb(35, 33, 39);

  color-scheme: dark;
}

:root:has(#themer.light) {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: rgb(255, 255, 255);
  --active-color: rgb(120, 67, 254);
  --highlighted-color: #733af0;
  --highlighted-color-opaque: #743af05b;
  --font-color: #000000;
  background-color: var(--bg-color);
  --bg-secondary-color: rgba(190, 190, 190, 0.397);
  --hovered-color: rgba(183, 183, 183, 0.646);

  --modal-bg-color: #ffffff;
  --bg-contrast-color: #f9f9f9;

  --semi-transparent: rgba(246, 246, 246, 0.5);
  --code-bg-color: #cbcbcb;
  --font-color-secondary: rgb(109, 109, 109);
  --root-bg-color: #ffffff;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}

* {
  /* color: var(--font-color); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-contrast-color) var(--modal-bg-color);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
}
#themer {
  display: none;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  color: var(--font-color);
}
h2 {
  font-size: 2.5em;
  line-height: 1.1;
  color: var(--font-color);
}
h3,
h4 {
  color: var(--font-color);
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.button {
  padding: 5px 6px;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hovered-color);
}
.button.bg-active {
  background-color: var(--active-color);
  color: white;
}

.selected {
  background-color: #666666;
}

.highlighted {
  color: var(--highlighted-color);
}

.floating-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-x {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}

.centered-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickeable {
  cursor: pointer;
  border: 1px solid transparent;
}

.clickeable:hover,
.clickeable:focus {
  border: 1px solid var(--highlighted-color);
  color: var(--font-color);
  transition: 0.2s all;
}
.clickeable:hover * {
  color: var(--font-color);
}
.clickeable:active {
  background-color: var(--highlighted-color);
  color: var(--font-color);
}

.rounded-rect {
  padding: 10px 4px;
  border-radius: 5px;
}

input,
textarea,
select,
option {
  background-color: var(--modal-bg-color);
  font-size: var(--min-font-size);
  color: var(--font-color);
}
textarea {
  resize: vertical;
  height: auto;
}

.gap-1 {
  gap: 2px;
}

.modal-closer {
  position: absolute;
  right: 20px;
  top: 20px;
}

.text-center {
  text-align: center;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
}

.bg-active {
  background-color: var(--active-color) !important;
  color: white !important;
}
.bg-gradient {
  background: var(--gradient-dark);
}

.card {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--code-bg-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--semi-transparent);
  gap: 10px;
  border-radius: 10px;
  width: min(350px, 100%);
  transition: 0.2s all ease-in-out;
  margin-inline: auto;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-big {
  gap: 20px;
}

.text-left {
  text-align: left;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}
.align-top {
  align-items: baseline;
}

.padding-medium {
  padding: 15px;
}

.my-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  border-radius: var(--standard-radius);
  padding: 5px;
  background-color: transparent;
  border: 1px solid var(--bg-contrast-color);
  font-size: 18px;
  font-family: var(--font-family);
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.bg-danger:hover {
  border: 1px solid var(--font-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-opaque {
  background-color: var(--success-color-opaque) !important;
}

.success-on-hover:hover {
  border: 1px solid var(--font-color) !important;
  background-color: var(--success-color) !important;
}

.bg-hovered {
  background-color: var(--hovered-color) !important;
}

.pill {
  padding: 5px 10px;
  border-radius: 50vh;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  text-wrap: nowrap;
}

.text-small {
  font-size: 12px;
}
.text-secondary {
  color: var(--font-color-secondary);
}

.padding-small {
  padding: 5px !important;
}

.padding-medium {
  padding: 10px !important;
}

.padding-big {
  padding: 20px !important;
}

.rounded {
  border-radius: var(--standard-radius);
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  animation: carousel cubic-bezier(0.39, 0.575, 0.565, 1) 7s infinite;
  min-height: 30vh;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-black {
  color: black;
}

.badge {
  padding: 20px;
  border-radius: 10px;
}

.call-to-action {
  background-color: var(--hovered-color);
  padding: 20px;
  border-radius: var(--standard-radius);
  animation: appear-left 0.5s ease-in-out forwards infinite;
  margin-inline: auto;
  width: min(600px, 100%);
}

.call-to-action li {
  list-style-type: none;
  margin-left: 10px;
}

@keyframes appear-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
  width: 30px;
  border: 1px solid var(--font-color);
  height: 30px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
}
.text-normal {
  font-size: 16px;
}
.pos-absolute {
  position: absolute;
}

.right-zero {
  right: 0;
}

.right-small {
  right: 10px;
}
.top-middle {
  top: 50%;
  transform: translateY(-50%);
}
.pos-relative {
  position: relative;
}

.fancy-gradient {
  background: var(--gradient-dark);
  background-size: 200% 200%;
  animation: gradient-animation 7s ease-in-out infinite;
}
.fancy-bg {
  background: var(--gradient-dark);
  background-size: 200% 200%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.z-index-tap {
  z-index: 1000;
}

.border-active {
  border: 1px solid var(--active-color) !important;
}

.square-button {
  width: max(40px, fit-content);
  height: 40px;
}
.h-100 {
  height: 100%;
}

.h-viewport {
  height: 100dvh;
}

.overflow-hidden {
  overflow: hidden;
}
.width-300 {
  width: 300px;
}
.width-200 {
  width: 200px;
}

.react-flow__node.selected {
  background: var(--hovered-color);
  border-radius: var(--standard-radius);
}
.bg-secondary {
  background-color: var(--bg-secondary-color);
}
.switch {
  position: relative;

  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50%;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 10;
}
.switch:has(input:focus) {
  background-color: grey;
  padding: 2px;
  scale: 1.05;
}

/* Create the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & .svg-button {
    width: 20px;
    height: 20px;
  }
}

/* The knob (the circle) */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.587);
  border-radius: 50%;
  transition: background 0.4s;
}

input:checked + .slider {
  background-color: var(--active-color);
}
input + .slider.keep-active {
  background-color: var(--active-color);
}

/* Move the knob when checked */
input:checked + .slider::before {
  transform: translateX(26px);
}

.textarea-container {
  position: relative;
}

.textarea-container > span {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 16px;
  padding: 0 4px;
  transition: 0.2s;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bg-contrast-color);
  border-radius: 4px;
  resize: none;
  font-size: 18px;
  background-color: transparent;
  transition: border-color 0.2s;
  outline: none;
  max-height: 500px;
  overflow: auto;
  scrollbar-width: none;
  font-family: var(--font-family);
}
.textarea-container:has(.textarea:not(:placeholder-shown)) > span {
  font-size: 15px;
  top: -12px;
  background-color: var(--bg-color);
  color: var(--font-color-secondary);
  border: 1px solid var(--bg-contrast-color);
}

.textarea-container:has(.textarea:focus) > span {
  font-size: 18px;
  top: -15px;

  color: white;
  border: 1px solid var(--active-color);
  background-color: var(--active-color);
}
.textarea-container:has(.textarea:focus) > textarea {
  border: 1px solid var(--active-color);
}

.select-container {
  position: relative;
}

.select-container > span {
  position: absolute;
  bottom: 100%;
  left: 8px;
  padding: 0 4px;
  transition: 0.2s;
  color: var(--font-color);
}

.select-container:has(select:not(:placeholder-shown)) > span {
  font-size: 12px;
  bottom: calc(100% - 5px);
}

.select-container:has(select:focus) > span {
  font-size: 12px;
  top: -15px;
}
.pointer {
  cursor: pointer;
}
.box {
  aspect-ratio: 1 !important;
  display: block;
}

.w-100 {
  width: 100% !important;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 70vh;
  gap: 20px;
  max-width: 100vw;
}
.menu > .menu-sidebar {
  text-align: center;
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-content: center;

  border-radius: var(--standard-radius);
}
.labeled-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  gap: 5px;
  transition: all 0.2s;
  border-radius: var(--standard-radius);
  &.active {
    background-color: var(--active-color);
  }
}
.labeled-button span {
  padding: 5px;
  display: flex;
  align-items: center;
}
.labeled-button svg {
  width: 30px;
  height: 30px;
}
.labeled-button .button-label {
  display: none;
  align-items: center;
  /* background-color: red; */
}

.labeled-button.active .button-label {
  display: block;
  color: white;
}
.cut-text-to-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-mini {
  font-size: 18px;
}

.bg-contrast {
  background-color: var(--bg-contrast-color);
}

.border-secondary {
  border: 1px solid rgb(75, 73, 73);
}

.pressable {
  cursor: pointer;
  transition: 0.2s all;
  transform-origin: center center;
}
.pressable:hover {
  transform: scale(1.05);

  transform: translate(0, -2px);
  box-shadow: 0px 3px 0 rgba(49, 45, 45, 0.845);
}
.pressable:focus {
  transform: scale(1.05);
  transform-origin: center center;
  transform: translate(0, -2px);
  box-shadow: 0px 3px 0 rgba(77, 77, 77, 0.529);
}

.pressable:active {
  transform: scale(0.95);
}
.above-all {
  z-index: 1000;
}

.active-on-focus:focus {
  background-color: var(--active-color);
}
.w-45 {
  width: 30%;
}
.width-150 {
  width: 150px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-max-width {
  width: min(100%, var(--input-max-width));
  margin-inline: auto;
}
.border-danger {
  border: 1px solid var(--danger-color) !important;
}
.danger-on-hover:hover,
.danger-on-hover:focus {
  background-color: var(--danger-color) !important;
  border: 1px solid var(--danger-color) !important;

  & svg.set-fill path {
    fill: white;
  }
  & svg.set-stroke path {
    stroke: white;
  }
  & p {
    color: white;
  }
}
.danger-on-hover:focus {
  background-color: var(--danger-color);
}

.separator {
  border-top: 1px solid var(--active-color);
  opacity: 0.1;
  width: 100%;
}
.fat-border {
  border-width: 4px;
}
.overflow-x-auto {
  overflow-x: auto;
  width: 100%;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.no-scrollbar {
  scrollbar-width: none;
}

.border-thin {
  border-width: 1px;
}
.fit-content {
  width: fit-content;
}
.cutted-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner {
  border: 8px solid var(--hovered-color);
  border-top: 8px solid var(--active-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  background: rgba(68, 68, 68, 0.095);
}

.loaderText {
  color: var(--active-color);
  font-size: 18px;
  font-weight: 500;
  animation: palpitating 1s linear infinite;
  text-wrap: wrap;
  max-width: calc(100% - 100px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5cqh 0 var(--active-color);
    /* background-color: rgba(31, 11, 148, 0.187); */
  }
  25% {
    box-shadow: 0 0 30px 0 rgba(53, 40, 131, 0.427);
    /* background-color: rgba(53, 40, 131, 0.427); */
  }
  50% {
    box-shadow: 0 0 30px 0 var(--active-color);
    /* background-color: rgba(7, 170, 159, 0.153); */
  }
  75% {
    box-shadow: 0 0 30px 0 rgba(131, 104, 14, 0.363);
    /* background-color: rgba(131, 104, 14, 0.363); */
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 20px 0 var(--active-color);
    /* background-color: rgba(37, 14, 66, 0.187); */
  }
}

@keyframes palpitating {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.mt-small {
  margin-top: 10px;
}
.mt-big {
  margin-top: 20px;
}
.svg-danger svg.set-fill path {
  fill: var(--danger-color);
}
.svg-danger svg.set-stroke path {
  stroke: var(--danger-color);
}
.svg-white svg.set-fill path {
  fill: white !important;
}
.svg-white svg.set-stroke path {
  stroke: white !important;
}
.svg-white svg.set-stroke circle {
  stroke: white !important;
}

.svg-white svg.set-svg-fill {
  fill: white;
}
.word-break-all {
  word-break: break-all;
}
.fit-content {
  width: fit-content;
}

.text-danger {
  color: var(--danger-color);
}
.code-block {
  /* background-color: var(--bg-contrast-color); */
  border-radius: var(--standard-radius);
  padding: 10px;

  > pre {
    border: 0 !important;
  }
}
.no-margin {
  margin: 0;
}
.max-height-500 {
  max-height: 500px;
}

.danger-color-on-hover:hover {
  color: var(--danger-color);
}

.border-gray {
  border: 1px solid var(--font-color-secondary) !important;
}
.button-group {
  display: flex;
  border-radius: var(--standard-radius);
  /* border: 1px solid var(--font-color-secondary) !impo    rtant; */

  > .svg-button:first-child {
    border-top-left-radius: var(--standard-radius);
    border-bottom-left-radius: var(--standard-radius);
  }
  > .svg-button:last-child {
    border-top-right-radius: var(--standard-radius);
    border-bottom-right-radius: var(--standard-radius);
  }
}
.svg-mini {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-on-hover:hover,
.active-on-hover:focus {
  background-color: var(--active-color) !important;

  & p {
    color: white;
  }

  & svg.set-fill path {
    fill: white;
  }
  & svg.set-stroke path {
    stroke: white;
  }
  & svg.set-svg-fill {
    fill: white;
  }
}
.text-white {
  color: white;
}
.justify-end {
  justify-content: flex-end;
}
.width-150 {
  width: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
  > img {
    width: 120px;
    height: 80px;
  }
}
