@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family);

  line-height: 1.5;
  font-weight: 400;
  --active-color: #46e0ff;
  /* --highlighted-color: rgb(20, 181, 151); */
  --highlighted-color: #733af0;
  --highlighted-color-opaque: #743af05b;
  --font-color: rgb(255, 255, 255);
  --bg-color: rgb(10, 9, 26);
  --bg-secondary-color: rgba(31, 31, 31, 0.397);
  --hovered-color: rgba(75, 75, 75, 0.646);
  --selected-color: rgba(75, 75, 75, 0.646);
  --modals-color: rgb(255, 255, 255);
  --modal-bg-color: #040404;
  --bg-contrast-color: rgb(55, 55, 55);
  --border-radius: 6px;
  --selected-border: 1px solid var(--highlighted-color);
  --standard-radius: 8px;
  --modal-max-height: 99vh;
  --root-bg-color: #06181f;
  --danger-color: #ff3e3e;
  --success-color: #20dd92;
  --app-max-width: 1200px;
  color-scheme: dark light;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root:has(body.dark) {
  --active-color: #5779ff;
  --highlighted-color: #733af0;
  --secondary-color: #0077ff;
  --font-color: rgb(255, 255, 255);
  --font-color-secondary: rgb(160, 160, 160);
  --bg-color: rgb(0, 0, 0);
  --bg-secondary-color: #070514;
  --bg-color-secondary: #090716;
  --hovered-color: rgba(134, 134, 134, 0.248);
  --selected-color: rgba(75, 75, 75, 0.646);
  --modals-color: #00071a;
  --font-color-secondary: rgb(160, 160, 160);
  --root-bg-color: #06181f;
  --gradient-bg: radial-gradient(
    ellipse farthest-corner at top left,
    rgba(66, 42, 255, 0.8),
    rgba(110, 91, 255, 0.8) 50%,
    rgba(36, 30, 84, 0.8)
  );

  --gradient-blue: radial-gradient(circle, #00c6ff, #0072ff);
  --gradient-green: radial-gradient(circle, #00b09b, #96c93d);
  --gradient-multiple: radial-gradient(#0f0e47, #15147c, #413ef0, #403cff);
  --gradient-dark: linear-gradient(
    130deg,
    rgba(34, 16, 100, 0.665),
    rgba(104, 18, 130, 0.348),
    rgba(38, 33, 140, 0.309)
  );

  --assistant-color: #303031;
  --user-color: var(--gradient-dark);
  --modal-bg-color: #080c16;
  --bg-contrast-color: rgb(31, 31, 31);
  --border-radius: 6px;
  --selected-border: 1px solid var(--highlighted-color);
  --standard-radius: 8px;
  --font-color: rgb(255, 255, 255);
  --font-color-secondary: rgb(88, 88, 88);
  --contrast-color: #202020;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}

* {
  color: var(--font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-contrast-color) var(--modal-bg-color);
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

textarea {
  resize: vertical;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.button {
  padding: 5px 6px;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hovered-color);
}
.button.bg-active {
  background-color: var(--active-color);
  color: white;
}

.selected {
  background-color: #666666;
}

.highlighted {
  color: var(--highlighted-color);
}

.floating-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-x {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}

.centered-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickeable {
  cursor: pointer;
  border: 1px solid transparent;
}

.clickeable:hover,
.clickeable:focus {
  border: 1px solid var(--highlighted-color);
  color: var(--font-color);
  transition: 0.2s all;
  background-color: var(--highlighted-color-opaque);
}
.clickeable:hover * {
  color: var(--font-color);
}
.clickeable:active {
  background-color: var(--highlighted-color);
  color: var(--font-color);
}

.rounded-rect {
  padding: 10px 4px;
  border-radius: 5px;
}

input,
textarea,
select,
option {
  background-color: var(--modal-bg-color);
}

.gap-1 {
  gap: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--font-color);
  > label {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  > label > *:first-child {
    width: 130px;
  }

  > label > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
  }

  & input,
  & textarea,
  & select {
    border-radius: 5px;
    padding: 3px;
  }
}

.modal-closer {
  position: absolute;
  right: 20px;
  top: 20px;
}

.text-center {
  text-align: center;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
}

.bg-secondary {
  background-color: var(--bg-secondary-color);
}

.bg-active {
  background-color: var(--active-color) !important;
}
.bg-gradient {
  background: var(--gradient-dark);
}
.p-big {
  padding: 10px 15px;
}
.w-100 {
  width: 100%;
}

.mt-small {
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-secondary-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-contrast-color);
  gap: 10px;
  border-radius: 10px;
  width: min(350px, 100%);
  transition: 0.2s all ease-in-out;
  margin-inline: auto;
}

.card:hover {
  border: 1px solid var(--highlighted-color);
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-big {
  gap: 20px;
}

.text-left {
  text-align: left;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}
.align-top {
  align-items: baseline;
}

.padding-medium {
  padding: 15px;
}

.my-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  border-radius: 5px;
  padding: 3px;
  background-color: transparent;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.bg-danger:hover {
  border: 1px solid var(--font-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.success-on-hover:hover {
  border: 1px solid var(--font-color) !important;
  background-color: var(--success-color) !important;
}

.bg-hovered {
  background-color: var(--hovered-color) !important;
}

.pill {
  padding: 5px 10px;
  border-radius: 50vh;
  font-size: 12px;
  cursor: pointer;
}

.text-small {
  font-size: 12px;
}
.text-secondary {
  color: var(--font-color-secondary);
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-big {
  padding: 20px;
}

.rounded {
  border-radius: var(--standard-radius);
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  animation: carousel cubic-bezier(0.39, 0.575, 0.565, 1) 5s infinite;
  min-height: 30vh;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-black {
  color: black;
}

.badge {
  padding: 20px;
  border-radius: 10px;
}

.call-to-action {
  background-color: var(--hovered-color);
  padding: 20px;
  border-radius: var(--standard-radius);
  animation: appear-left 0.5s ease-in-out forwards infinite;
  margin-inline: auto;
  width: min(600px, 100%);
}

.call-to-action li {
  list-style-type: none;
  margin-left: 10px;
}

@keyframes appear-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
  width: 30px;
  border: 1px solid var(--font-color);
  height: 30px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
}
.text-normal {
  font-size: 16px;
}
.pos-absolute {
  position: absolute;
}

.right-zero {
  right: 0;
}

.right-small {
  right: 10px;
}
.top-middle {
  top: 50%;
  transform: translateY(-50%);
}
.pos-relative {
  position: relative;
}

.fancy-gradient {
  background: var(--gradient-dark);
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
