@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --active-color: #0e353d;
  --highlighted-color: rgb(20, 181, 151);
  --font-color: rgb(255, 255, 255);
  --bg-color: rgb(10, 9, 26);
  --bg-secondary-color: rgba(31, 31, 31, 0.397);
  --hovered-color: rgba(75, 75, 75, 0.646);
  --selected-color: rgba(75, 75, 75, 0.646);
  --modals-color: rgb(255, 255, 255);
  --modal-bg-color: #040404;
  --bg-contrast-color: rgb(55, 55, 55);
  --border-radius: 6px;
  --selected-border: 1px solid var(--highlighted-color);
  --standard-radius: 8px;
  --modal-max-height: 99vh;

  color-scheme: dark light;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root:has(body.dark) {
  --active-color: #5779ff;
  --highlighted-color: #733af0;
  --secondary-color: #0077ff;

  --font-color: rgb(255, 255, 255);
  --font-color-secondary: rgb(160, 160, 160);
  --bg-color: rgb(0, 0, 0);
  --bg-secondary-color: #070514;
  --bg-color-secondary: #090716;
  --hovered-color: rgba(134, 134, 134, 0.248);
  --selected-color: rgba(75, 75, 75, 0.646);
  --modals-color: #00071a;

  --gradient-bg: radial-gradient(
    ellipse farthest-corner at top left,
    rgba(66, 42, 255, 0.8),
    rgba(110, 91, 255, 0.8) 50%,
    rgba(36, 30, 84, 0.8)
  );

  --gradient-blue: radial-gradient(circle, #00c6ff, #0072ff);
  --gradient-green: radial-gradient(circle, #00b09b, #96c93d);
  --gradient-multiple: radial-gradient(
    circle,
    #01003c,
    #15147c,
    #413ef0,
    #403cff
  );

  --assistant-color: #02091d;
  --user-color: #743af04e;
  --modal-bg-color: #080c16;
  --bg-contrast-color: rgb(55, 55, 55);
  --border-radius: 6px;
  --selected-border: 1px solid var(--highlighted-color);
  --standard-radius: 8px;
  --font-color: rgb(255, 255, 255);

  --contrast-color: #202020;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}

* {
  color: var(--font-color);
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

textarea {
  resize: vertical;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.button {
  padding: 5px 6px;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #262626;
}
.button.bg-active {
  background-color: var(--active-color);
  /* background:var(--gradient-multiple); */
  /* background: red; */
  color: white;
}

.selected {
  background-color: #666666;
}

.highlighted {
  color: var(--highlighted-color);
}

.floating-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-x {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}

.centered-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickeable {
  cursor: pointer;
  border: 1px solid transparent;
}

.clickeable:hover,
.clickeable:focus {
  border: 1px solid var(--highlighted-color);
  color: var(--highlighted-color) !important;
  transition: 0.2s all;
}
.clickeable:hover * {
  color: var(--font-color);
  stroke: var(--font-color);
  scale: 1.01;
}
.clickeable:active {
  background-color: var(--highlighted-color);
  color: var(--font-color);
}

.rounded-rect {
  padding: 10px 4px;
  border-radius: 5px;
}

details summary {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

details[open] summary {
  background-color: var(--hovered-color);
  border-radius: 5px;
  box-shadow: 0px 2px var(--highlighted-color);
}

.gap-1 {
  gap: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--font-color);
  > label {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  > label > *:first-child {
    width: 130px;
  }

  > label > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
  }

  & input,
  & textarea,
  & select {
    border-radius: 5px;
    padding: 3px;
  }
}

.modal-closer {
  position: absolute;
  right: 20px;
  top: 20px;
}

.text-center {
  text-align: center;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
}

.bg-secondary {
  background-color: var(--bg-secondary-color);
}

.bg-active {
  background-color: var(--active-color);
}
.p-big {
  padding: 10px 15px;
}
.w-100 {
  width: 100%;
}

.mt-small {
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-secondary-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-contrast-color);
  gap: 10px;
  border-radius: 10px;
  width: min(350px, 100%);
  transition: 0.2s all ease-in-out;
  margin-inline: auto;
}

.card:hover {
  border: 1px solid var(--highlighted-color);
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-big {
  gap: 20px;
}

.text-left {
  text-align: left;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.padding-medium {
  padding: 15px;
}
